//*
 | (C) Copyright IBM Corporation 2001, 2004. All Rights Reserved.
 | This file is part of the DITA package on IBM's developerWorks site.
 | See license.txt for disclaimers and permissions.
*/


concept {
  display: block;
  margin-top: 6pt;
  margin-bottom: 9pt;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

concept>title {
  display: block;
  margin-top: 16pt;
  margin-bottom: 9pt;
  font-size: 20pt;
  font-weight: bold;
  color: #000001;
}

*>concept>title {
  margin-top: 20pt;
  font-size: 16pt;
  font-weight: bold;
  color: #000002;
}

*>*>concept>title {
  margin-top: 20pt;
  font-size: 14pt;
  font-weight: bold;
  color: #000002;
}

conbody {
  display: block;
  margin-top: 6pt;
}