/*
 | (C) Copyright IBM Corporation 2001, 2004. All Rights Reserved.
 | This file is part of the DITA package on IBM's developerWorks site.
 | See license.txt for disclaimers and permissions.
*/


@import url(topic.css);

@import url(task.css);

@import url(concept.css);

@import url(reference.css);

@import url(domains.css);


/* support overrides and "delivery context" markup here */

dita {
  display: block;
}

