/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/


@import url(topic.css);

@import url(task.css);

@import url(concept.css);

@import url(reference.css);

@import url(domains.css);


/* support overrides and "delivery context" markup here */

dita {
  display: block;
}

