/*
 | (C) Copyright IBM Corporation 2001, 2004. All Rights Reserved.
 | This file is part of the DITA package on IBM's developerWorks site.
 | See license.txt for disclaimers and permissions.
*/

/* DOMAINS particular support (selection on element names) */


/* software domain (sw-d) particular class support */



/* user interface domain (ui-d) particular class support */


screen {
	display: block;
	background-color: black;
	color: lime;
	white-space: pre;
	font-family: monospace, "Courier New";
	font-weight: bold;
	font-size: 9pt;
	padding: 4pt;
	margin-bottom: 6pt;
}


/* programming domain (pr-d) particular class support */

var {
	font-style: italic;
}



/* highlight domain (hi-d) particular class support */

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

tt {
	font-family: monospace;
}

u {
	text-decoration: underline;
}

/sup {
  vertical-align: super;
  font-size: smaller;
}

sup {
  vertical-align: sub;
  font-size: smaller;
}

