/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/

*[class~="map\/map"] {
	display: block;
  margin-top: 6pt;
  margin-bottom: 9pt;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

*[class~="map\/map"]:before {
	content: attr(title);
	font-weight : bold;
}

*[class~="map\/topicref"]    {
	display: list-item;
	list-style-type: disc;
	list-style-position: inherit;
	margin-left: 10pt;
}

*[class~="mapgroup\/topichead"]    {
	display: list-item;
	list-style-type: circle;
	list-style-position: inherit;
	margin-left: 10pt;
}

*[class~="mapgroup\/topicgroup"]    {
	display: list-item;
	list-style-type: square;
	list-style-position: inherit;
	margin-left: 10pt;
}

*[class~="map\/topicref"]:before    {
	content: attr(navtitle) " [" attr(href) "]";
}

*[class~="map\/navref"]:before    {
	content: "[" attr(mapref) "]";
}

@media morphon {
}
/*== simple table markup ==*/
*[class~="map\/reltable"]    {
	display: table;
	border: thin solid gray;
}

*[class~="map\/relcolspec"]    {
	display: table-cell;
}

*[class~="map\/relcolspec"]:before    {
	content: "[" attr(type) "]";
}

*[class~="map\/relrow"], *[class~="map\/relheader"]    {
	display: table-row;
	border: thin black solid;
}

*[class\~="map\/relhead"] > *[class\~="map\/relcell"]    {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	border: thin solid black;
}

*[class\~="map\/relrow"] > *[class\~="map\/relcell"]    {
	display: table-cell;
	border: thin solid gray !important;
}

