/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/

reference {
  display: block;
  margin-top: 6pt;
  margin-bottom: 9pt;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

reference>title {
  display: block;
  margin-top: 16pt;
  margin-bottom: 9pt;
  font-size: 20pt;
  font-weight: bold;
  color: #000003;
}

*>reference>title {
  margin-top: 20pt;
  font-size: 16pt;
  font-weight: bold;
  color: #000003;
}

*>*>reference>title {
  margin-top: 20pt;
  font-size: 14pt;
  font-weight: bold;
  color: #000003;
}

refbody {
  display: block;
  margin-top: 6pt;
}

refsyn {
  margin-top: 12pt;
  display: block;
}

refsyn>title {
  display: block;
  font-weight: bold;
  margin-top: 6pt;
  margin-bottom: 2pt;
}

refsyn:before {
  font-weight: bold;
  display: block;
  content: "Syntax: ";
}

refsyn[spectitle]:before {
  font-weight: bold;
  display: block;
  content: attr(spectitle)": ";
}

flag {
  color: red;
}

parm {
  font-weight: bold;
  color: navy;
}

plentry {
  display: block;
}

pd {
  margin-left: +20pt;
  display: block;
}

example {
  margin-top: 6pt;
  display: block;
}

property {
  display: block;
  margin-top: 6pt;
}

proptype {
  display: block;
  font-weight: bold;
}

propvalue {
  display: block;
  margin-left: +20pt;
}
