/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/


@import url(topic.css);

/* following are editor-specific overrides of standard topic properties */


/* list item support */

ul { 
    margin-left: 2ex;
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}
ul > li {
    margin-left: 2.5ex;
}
ul > li:before {
    display: marker;
    content: disc;
}
ul > li ul > li:before {
    display: marker;
    content: square;
}
ul > li ul > li ul > li:before {
    display: marker;
    content: icon(diamond);
}
ul > li ul > li ul > li ul > li:before {
    display: marker;
    content: circle;
}

ol { 
    margin-left: 2ex;
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}
ol > li {
    margin-left: 6ex;
}
ol > li:before {
    display: marker;
    content: counter(n, decimal);
    font-weight: bold;
}
ol[style~=lower-alpha] > li:before {
    display: marker;
    content: counter(n, lower-alpha);
}
ol[style~=upper-alpha] > li:before {
    display: marker;
    content: counter(n, upper-alpha);
}
ol[style~=lower-roman] > li:before {
    display: marker;
    content: counter(n, lower-roman);
}
ol[style~=upper-roman] > li:before {
    display: marker;
    content: counter(n, upper-roman);
}

ol ul, ul ol, ul ul, ol ol { 
    margin-top: 0; 
    margin-bottom: 0; 
}


/* image support */

image, image[placement="inline"] {
  display: inline;
  content: image(attr(href),-400,-200);
}

image[placement="break"] {
  display: block;
  content: image(attr(href),-400,-200);
}