<?xml version="1.0" encoding="UTF-8"?>
<!--
 | (C) Copyright IBM Corporation 2005 - 2006. All Rights Reserved.
 *-->
<plugin id="org.dita.specialization.javaapiref">
  <require plugin="org.dita.specialization.apiref"/>
  <feature extension="package.version" value="0.9.0"/>
  <feature extension="dita.specialization.catalog.relative"
      file="catalog-dita.xml"/>
  <feature extension="dita.xsl.xhtml"
      file="xsl/javaref2xhtml.xsl"/>
  <feature extension="dita.conductor.target.relative"
      file="conductor.xml"/>
  <feature extension="dita.xsl.strings"
      file="xsl/javaapistrings.xml"/>
  <feature extension="dita.xsl.topicpull"
      file="xsl/topicpull.xsl"/>
</plugin>
