<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.htmlhelp">
  <!-- extension points -->
  <extension-point id="dita.xsl.htmlhelp.map2hhp" name="HTML Help project XSLT import"/>
  <extension-point id="dita.xsl.htmlhelp.map2hhc" name="HTML Help content XSLT import"/>
  <!-- extensions -->
  <feature extension="dita.conductor.transtype.check" value="htmlhelp"/>
  <require plugin="org.dita.xhtml"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="xsl/map2hhc_template.xsl"/>
  <template file="xsl/map2hhp_template.xsl"/>
</plugin>
