<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<plugin id="org.dita.specialization.cxxapiref">
  <feature extension="package.version"
           value="0.1.0" />
  <require plugin="org.dita.specialization.apiref" />
  <feature extension="dita.specialization.catalog.relative"
           type="file"
           value="catalog-dita.xml" />
  <feature extension="dita.xsl.xhtml"
           type="file"
           value="xsl/cxxapiref2xhtmlImpl.xsl" />
  <feature extension="dita.conductor.target.relative"
           type="file"
           value="conductor.xml" />
  <feature extension="dita.xsl.strings"
           value="xsl/cxxapiref-strings.xml"
           type="file"/>  
  <!-- workaround to get depend.preprocess.mappull.post-->
  <feature extension="depend.preprocess.chunk.pre"
           value="cxxapiref.preprocess.sort"
           type="text"/>
</plugin>
