# Gradle task artifacts & build results
.gradle/
build/
target/
*.iml

# JAR files retrieved during the build process
src/main/lib/*.jar

# Generated resources
src/main/config/env.bat
src/main/config/env.sh
src/main/config/messages.xml
src/main/config/messages_en_US.properties
src/main/config/org.dita.dost.platform/plugin.properties
src/main/config/plugins.xml
src/main/doc
src/main/plugins/org.dita.base/build.xml
src/main/plugins/org.dita.base/build_preprocess.xml
src/main/plugins/org.dita.base/build_preprocess2.xml
src/main/plugins/org.dita.base/catalog-dita.xml
src/main/plugins/org.dita.base/xsl/common/strings.xml
src/main/plugins/org.dita.base/xsl/preprocess/conref.xsl
src/main/plugins/org.dita.base/xsl/preprocess/flag.xsl
src/main/plugins/org.dita.base/xsl/preprocess/map-conref.xsl
src/main/plugins/org.dita.base/xsl/preprocess/maplink.xsl
src/main/plugins/org.dita.base/xsl/preprocess/mappull.xsl
src/main/plugins/org.dita.base/xsl/preprocess/mapref.xsl
src/main/plugins/org.dita.base/xsl/preprocess/topicpull.xsl
src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp.xml
src/main/plugins/org.dita.eclipsehelp/lib/eclipsehelp.jar
src/main/plugins/org.dita.eclipsehelp/xsl/map2eclipse.xsl
src/main/plugins/org.dita.eclipsehelp/xsl/map2plugin.xsl
src/main/plugins/org.dita.html5/.sass-cache
src/main/plugins/org.dita.html5/build_dita2html5.xml
src/main/plugins/org.dita.html5/css/commonltr.css
src/main/plugins/org.dita.html5/css/commonrtl.css
src/main/plugins/org.dita.html5/xsl/dita2html5Impl.xsl
src/main/plugins/org.dita.html5/xsl/map2html5-coverImpl.xsl
src/main/plugins/org.dita.html5/xsl/map2html5toc.xsl
src/main/plugins/org.dita.htmlhelp/build_dita2htmlhelp.xml
src/main/plugins/org.dita.htmlhelp/lib/htmlhelp.jar
src/main/plugins/org.dita.htmlhelp/xsl/map2hhc.xsl
src/main/plugins/org.dita.htmlhelp/xsl/map2hhp.xsl
src/main/plugins/org.dita.pdf2.fop/lib
src/main/plugins/org.dita.pdf2.fop/xsl/fo/topic2fo_shell_fop.xsl
src/main/plugins/org.dita.pdf2/**/*.class
src/main/plugins/org.dita.pdf2/build.xml
src/main/plugins/org.dita.pdf2/cfg/catalog.xml
src/main/plugins/org.dita.pdf2/lib/fo.jar
src/main/plugins/org.dita.pdf2/xsl/common/topicmerge.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/flagging-preprocess.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/i18n-postprocess.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo_shell.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo_shell_axf.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo_shell_fop.xsl
src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo_shell_xep.xsl
src/main/plugins/org.dita.troff/xsl/dita2troff-ast-shell.xsl
src/main/plugins/org.dita.troff/xsl/dita2troff-step2-shell.xsl
src/main/plugins/org.dita.xhtml/build_dita2xhtml.xml
src/main/plugins/org.dita.xhtml/build_general.xml
src/main/plugins/org.dita.xhtml/xsl/dita2html-base.xsl
src/main/plugins/org.dita.xhtml/xsl/map2html-coverImpl.xsl
src/main/plugins/org.dita.xhtml/xsl/map2htmltoc.xsl
src/main/startcmd.bat
src/main/startcmd.sh

# OS-specific entries below

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
