[submodule "src/test/testsuite"]
	path = src/test/testsuite
	url = git://github.com/dita-ot/testsuite.git
[submodule "src/main/docsrc"]
	path = src/main/docsrc
	url = git://github.com/dita-ot/docs.git
[submodule "src/main/plugins/org.dita-ot.html"]
	path = src/main/plugins/org.dita-ot.html
	url = git://github.com/dita-ot/org.dita-ot.html.git
