Andrei Pomacu <andrei_pomacu@sync.ro> andrei_pomacu <andrei_pomacu@sync.ro>
Andrei Pomacu <andrei_pomacu@sync.ro> Mircea-Andrei16 <72509527+Mircea-Andrei16@users.noreply.github.com>
Andrei Pomacu <andrei_pomacu@sync.ro> Mircea-Andrei16 <andreipomacu16@gmail.com>
Aryeh Sanders <aryehsanders> aryehsanders <aryehsanders>
Beniamin Savu <beniamin_savu@sync.ro> beniamin_savu <beniamin_savu@sync.ro>
Bob Thomas <bob.thomas@tagsmiths.com> robertnthomas <bob.thomas@tagsmiths.com>
Chris Papademetrious <chrispitude@gmail.com> chrispy <chrispy@synopsys.com>
Chris Wong <cwong15> cwong15 <cwong15>
Deborah Pickett <debbiep-sf> debbiep-sf <debbiep-sf>
Dick Johnson <dhjohnso2000> dhjohnso2000 <dhjohnso2000>
Duna Marius Cosmin <duna.marius.cosmin@gmail.com> DunaMariusCosmin <duna.marius.cosmin@gmail.com>
Dávid Bertalan <16006640+thendarion@users.noreply.github.com> David Bertalan <16006640+thendarion@users.noreply.github.com>
Dávid Bertalan <16006640+thendarion@users.noreply.github.com> thendarion <16006640+thendarion@users.noreply.github.com>
Eero Helenius <eero.helenius@kapsi.fi> Eero Helenius <eero.helenius@citec.com>
Eero Helenius <eero.helenius@kapsi.fi> eero.helenius@kapsi.fi <eero.helenius@kapsi.fi>
Eliot Kimber <ekimber@contrext.com> drmacro <drmacro@gmail.com>
Eric Sirois <esirois@ca.ibm.com> easirois <easirois>
Eric Sirois <esirois@ca.ibm.com> easirois <easirois@rogers.com>
Eric Sirois <esirois@ca.ibm.com> esirois <esirois@crowbush.torolab.ibm.com>
Guillaume Delory <gdelory@sk.ibm.com> GDELORY <gdelory@sk.ibm.com>
Joshua Johnson <joshuaj@hpe.com> Josh Johnson <joshuaj@hpe.com>
Joshua Johnson <joshuaj@hpe.com> Joshua Johnson <joshuamichael.johnson@hpe.com> 
Kristen James Eberlein <kris@eberleinconsulting.com> keberlein <keberlein>
Kristen James Eberlein <kris@eberleinconsulting.com> keberlein <kris@eberleinconsulting.com>
Lionel Moizeau <lionel.moizeau@lumapps.com> lionelmoi <lionel.moizeau@gmail.com>
Mathew Varghese <mathew_varghese> mathew_varghese <mathew_varghese>
Paul Prescod <prescod> prescod <prescod>
Robert D. Anderson <gorodki@gmail.com> rdanderson <rdanderson>
Robert D. Anderson <gorodki@gmail.com> rdanderson <robander@us.ibm.com>
Robert D. Anderson <gorodki@gmail.com> robander <robander@us.ibm.com>
Robert D. Anderson <gorodki@gmail.com> Robert Anderson <gorodki@gmail.com>
Robert D. Anderson <gorodki@gmail.com> Robert Anderson <robert.dan.anderson@oracle.com>
Robert D. Anderson <gorodki@gmail.com> Robert D Anderson <robander@us.ibm.com>
Shawn McKenzie <smckenzie23> smckenzie23 <smckenzie23>
Simen Tinderholt <simtind@gmail.com> Tinderholt, Simen <simtind@gmail.com>
Stefan Jung <stefan.eike@mailbox.org> Eike, Stefan <stefan.eike@ipdynamics.de>
Stefan Jung <stefan.eike@mailbox.org> Stefan Eike <eike@dakosy.de>
Stefan Jung <stefan.eike@mailbox.org> Stefan Eike <stefan.eike@mailbox.org>
Stefan Jung <stefan.eike@mailbox.org> Stefan Jung <stefan.jung@Dometic.com>
Steven Zhang <imagiczhang> imagiczhang <imagiczhang>
沈剑乐 (Jian Le Shen) <shjle@cn.ibm.com> Jason <shjle@cn.ibm.com>
