sudo: false
language: java
jdk:
  - oraclejdk7
before_script:
  - git submodule update --init --recursive
script:
  - ./gradlew check integrationTest --info --stacktrace
branches:
  only:
  - /^(master|develop|hotfix\/.*|feature\/.*|release\/.*)$/
notifications:
  slack:
    secure: IAA4d9O2Dw1hkpY9cwxJz++VMjkgbV3EuaS09DGFujvHl2eQtpKTloE0/CDF+NZA4tcbH1dNqsGw3ETLmrqA581CLpmiiq3LG02cDMoSXZeOKB/9vo6tvLFg0UMawzo+FomJS/hvCmS5KirrFqZQKE5g6SCC05UBM5nwI5d0vOw=
