language: java
jdk:
  - openjdk6
before_script:
  - git submodule update --init --recursive
  - ant jar
  - ant -f src/main/integrator.xml strict
script: ant test integration-test
env: CLASSPATH=src/test/lib/:src/test/resources/:src/main/lib/xercesImpl.jar:src/main/lib/xml-apis.jar:src/main/lib/resolver.jar:src/main/lib/commons-codec-1.4.jar:src/main/lib/icu4j.jar:src/main/lib/saxon/saxon9-dom.jar:src/main/lib/saxon/saxon9.jar:target/classes:src/main/:src/main/lib/:src/main/lib/dost.jar
branches:
  only:
    - /^(v2\/)?(develop|hotfix\/.*)$/