<plugin id="com.moldflow.dita.plus-htmlhelp-csh-resourceid">
  <require plugin="com.moldflow.dita.plus-htmlhelp-csh"/>

  <feature extension="xsl.plus-htmlhelp-csh.map2alias" value="xsl/map2alias.xsl" type="file"/>
  <feature extension="xsl.plus-htmlhelp-csh.topic2alias" value="xsl/topic2alias.xsl" type="file"/>
</plugin>