<!-- 
  This file is part of the DITA Open Toolkit project hosted on
  Sourceforge.net. See the accompanying license.txt file for
  applicable licenses.
  
  (C) Copyright Shawn McKenzie, 2007. All Rights Reserved.
  *-->
<plugin id="com.sophos.tocjs">
  <feature extension="dita.conductor.transtype.check" value="tocjs" type="xml"/>
  <feature extension="dita.conductor.target" value="integrator.xml" type="file"/>
</plugin>
