/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/

concept {
  display: block;
  margin-top: 6pt;
  margin-bottom: 9pt;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

concept>title {
  display: block;
  margin-top: 16pt;
  margin-bottom: 9pt;
  font-size: 20pt;
  font-weight: bold;
  color: #000001;
}

*>concept>title {
  margin-top: 20pt;
  font-size: 16pt;
  font-weight: bold;
  color: #000002;
}

*>*>concept>title {
  margin-top: 20pt;
  font-size: 14pt;
  font-weight: bold;
  color: #000002;
}

conbody {
  display: block;
  margin-top: 6pt;
}