/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/


@import url(topic_classed.css);
/*
@import url(task.css);

@import url(concept.css);

@import url(reference.css);
*/
@import url(domains_classed.css);


/* === support overrides and "delivery context" markup here === */

/* revert the ph class */

*[class~="topic\/xph"] {
      color: black;
}


dita {
  display: block;
}

