/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
*/

/* DOMAINS generic support (will fall through to base classes!) */


/* software domain (sw-d) generic class support */



/* user interface domain (ui-d) generic class support */


*[class~="ui-d\/screen"] {
	display: block;
	background-color: black;
	color: lime;
	white-space: pre;
	font-family: monospace, "Courier New";
	font-weight: bold;
	font-size: 10pt;
	padding: 4pt;
	margin-bottom: 6pt;
}


/* programming domain (pr-d) generic class support */

*[class~="pr-d\/var"] {
	font-style: italic;
}



/* highlight domain (hi-d) generic class support (dita12 dtds do not class these, tho) */

*[class~="hi-d\/b"] {
	font-weight: bold;
}

*[class~="hi-d\/i"] {
	font-style: italic;
}

*[class~="hi-d\/tt"] {
	font-family: monospace;
}

*[class~="hi-d\/u"] {
	text-decoration: underline;
}

*[class~="hi-d\/sup"] {
  vertical-align: super;
  font-size: smaller;
}

*[class~="hi-d\/sub"] {
  vertical-align: sub;
  font-size: smaller;
}

