<!-- 
  This file is part of the DITA Open Toolkit project hosted on
  Sourceforge.net. See the accompanying license.txt file for
  applicable licenses.
  
  (C) Copyright Shawn McKenzie, 2007. All Rights Reserved.
  *-->
<plugin id="com.sophos.tocjs">
  <transtype name="tocjs" extends="html5" desc="TocJS"/>
  <feature extension="dita.conductor.target" file="integrator.xml"/>
</plugin>
