<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
     Sourceforge.net. See the accompanying license.txt file in the
     main toolkit package for applicable licenses.-->
<!-- (C) Copyright IBM Corporation 2006 All Rights Reserved. -->

<!-- 
     This is the plugin file that controls integration into the toolkit.
     Each item in the plugin that extends a toolkit function must be listed
     here. The only critical component is the catalog file, which must 
     extend the Toolkit's catalog in order for your files to be processed.

     If nothing else is overridden, then the toolkit will use fallback processing.
     This plugin file demonstrates how to imbed an override for XHTML formatting,
     so that not every element will use fallback processing.

     Be sure to change the plugin ID to use your own specialization name, rather than
     music.

     NOTE: paths in this file are relative to the current directory
           (the same directory that includes this file).
-->

<plugin id="org.metadita.specialization.music">
  <!-- Include support name and email -->
  <feature extension="package.support.name" value="Robert D Anderson"/>
  <feature extension="package.support.email" value="robander@us.ibm.com"/>

  <!-- Provide a version (default is 1.0 if not specified) -->
  <feature extension="package.version" value="1.2.0"/>

  <!-- Extend the toolkit catalog to include your DTDs. -->
  <feature extension="dita.specialization.catalog.relative"
      file="catalog-dita.xml"/>

  <!-- Extend the toolkit's XHTML processing to override XHTML output. -->
  <feature extension="dita.xsl.xhtml"
      file="xsl/music2xhtml.xsl"/>

  <!-- Extend the toolkit's XSLFO processing to override PDF output. -->
  <feature extension="dita.xsl.xslfo"
      file="xsl/songlist2xslfo.xsl"/>

  <!-- Define generated text for this plug-in -->
  <feature extension="dita.xsl.strings" 
    file="xsl/musicstrings.xml"/> 

  <!--  ************************************************************
        Any other extensions to standard toolkit files will be listed here.
        For example, to extend the RTF transform:

        <feature extension="dita.xsl.rtf" file="xsl/music2rtf.xsl"/>

        To extend the docbook transform:
        <feature extension="dita.xsl.docbook" file="xsl/music2docbook.xsl"/>
        
       -->

  <!-- If there is a prerequisite plugin, it uses the <require> element,
       with the ID from the required plugin. For example, any plugin
       that has this music plugin as a pre-prequisite would include:
       <require plugin="org.metadita.specialization.music"/>
       -->

</plugin>
