<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.xhtml">
  <!-- extension points -->
  <extension-point id="dita.xsl.xhtml" name="HTML/XHTML XSLT import"/>
  <extension-point id="dita.conductor.html.param" name="HTML XSLT parameters"/>
  <extension-point id="dita.conductor.xhtml.param" name="XHTML XSLT parameters"/>
  <extension-point id="dita.conductor.xhtml.toc.param" name="HTML/XSLT XSLT parameter"/>
  <extension-point id="dita.xsl.htmltoc" name="HTML/XHTML TOC XSLT import"/>
  <!-- extensions -->
  <feature extension="dita.conductor.transtype.check" value="xhtml"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="build_general_template.xml"/>
  <template file="build_dita2xhtml_template.xml"/>
  <template file="xsl/dita2html-base_template.xsl"/>
  <template file="xsl/map2htmtoc_template.xsl"/>
</plugin>
