<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.docbook">
  <!-- extension points -->
  <extension-point id="dita.xsl.docbook" name="Docbook XSLT import"/>
  <!-- extensions -->
  <feature extension="dita.conductor.transtype.check" value="docbook"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="xsl/dita2docbook_template.xsl"/>
</plugin>
