<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.wordrtf">
  <!-- extension points -->
  <extension-point id="dita.xsl.rtf" name="RTF XSLT import"/>
  <!-- extensions -->
  <feature extension="dita.conductor.transtype.check" value="wordrtf"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="xsl/dita2rtf_template.xsl"/>
</plugin>
