<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
     Sourceforge.net. See the accompanying license.txt file in the
     main toolkit package for applicable licenses.-->
<!-- (C) Copyright IBM Corporation 2005, 2009 All Rights Reserved. -->
<plugin id="com.ibm.specialization.authorinfo">
  <!-- Extend the toolkit catalog to include DTDs. -->
  <feature extension="dita.specialization.catalog.relative"
      file="catalog-dita.xml"/>

</plugin>
