<plugin id="com.moldflow.dita.plus-allhtml-mathml">
  <require plugin="com.moldflow.dita.specialization.mathml2"/>
  <require plugin="com.moldflow.dita.plus-transtype-anyhtml"/>

  <template file="build_plus-allhtml-mathml_template.xml"/>

  <feature extension="dita.conductor.xhtml.param" value="insert-ant-topic-html-xslt.xml" type="file"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

  <feature extension="depend.plus-transtype-eclipsehelp.topics.basic.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-transtype-htmlhelp.topics.basic.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-transtype-html.topics.basic.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-transtype-xhtml.topics.basic.pre" value="plus-allhtml-mathml.init" type="text"/>

  <feature extension="depend.plus-eclipsehelp-topics-twopass.stage1.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-htmlhelp-topics-twopass.stage1.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-html-topics-twopass.stage1.pre" value="plus-allhtml-mathml.init" type="text"/>
  <feature extension="depend.plus-xhtml-topics-twopass.stage1.pre" value="plus-allhtml-mathml.init" type="text"/>

</plugin>
