<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================== -->
<!-- Declare the documentation for testing                 -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin
   name = "Eclipse from DITA"
   id = "com.ibm.dita.sample.doc"
   version = "1.0"
   provider-name = "IBM">


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc"> 
       <toc file="toc.xml" primary="true" />
   </extension>


<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->



<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->

</plugin>
