<!-- 

plugin.xml registers the org.dita.dost.FrameMaker_adapter plugin
with the DITA toolkit.

$Author: prescod $
$Date: 2006/02/27 11:10:20 $
$Revision: 1.2 $
$Log: plugin.xml,v $
Revision 1.2  2006/02/27 11:10:20  prescod
Fix line endings, add explanatory comments and add RCS keywords.

$Header: /cvsroot/dita-ot/DITA-OT/demo/FrameMaker_adapter/plugin.xml,v 1.2 2006/02/27 11:10:20 prescod Exp $

-->
<plugin id="org.dita.dost.FrameMaker_adapter">
  <feature extension="dita.conductor.transtype.check" value="fmxml" type="txt"/>
  <feature extension="dita.conductor.target" file="integrator.xml"/>
</plugin>
