<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
  Sourceforge.net. See the accompanying license.txt file for 
  applicable licenses.-->
<!--
  | (C) Copyright IBM Corporation 2006. All Rights Reserved.
  *-->
  <plugin id="org.dita.specialization.eclipsemap">
    <feature extension="dita.specialization.catalog.relative"
      file="catalog.xml"/>
    <feature extension="dita.xsl.maplink"
      file="xsl/maplink-plugin.xsl"/>
    <feature extension="dita.xsl.mapref" file="xsl/mapref-plugin.xsl"/>
    <feature extension="dita.xsl.mappull"
      file="xsl/mappull-plugin.xsl"/>
    <feature extension="dita.preprocess.mappull.param" file="params.xml"/>
    <feature extension="dita.preprocess.mapref.param" file="params.xml"/>
    <feature extension="dita.xsl.eclipse.plugin"
      file="xsl/map2plugin.xsl"/>
    <feature extension="dita.conductor.target" file="script.xml"/>
    <feature extension="dita.map.eclipse.index.pre" value="dita.index.eclipsehelp.init" type="text"/> 
  </plugin>