<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.dita.pdf2.fop">
  <require plugin="org.dita.pdf2"/>
  <!-- extensions -->
  <feature extension="depend.org.dita.pdf2.init.pre" value="transform.fo2pdf.fop.init"/>
  <feature extension="depend.org.dita.pdf2.format" value="transform.fo2pdf.fop"/>
  <transtype name="pdf" desc="PDF">
    <param name="pdf.formatter" desc="Specifies the XSL processor." type="enum">
      <val desc="Apache FOP" default="true">fop</val>
    </param>
    <param name="args.fo.userconfig" desc="Specifies the user configuration file for FOP." type="file"/>
  </transtype>
  <feature extension="dita.conductor.pdf2.formatter.check" value="fop"/>
  <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
  <template file="xsl/fo/topic2fo_shell_fop_template.xsl"/>
</plugin>