<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.eclipsehelp">
  <!-- extension points -->
  <extension-point id="dita.xsl.eclipse.plugin" name="Eclipse plugin XSLT import"/>
  <extension-point id="dita.map.eclipse.index.pre" name="Eclipse index extraction pre-target"/>
  <extension-point id="dita.xsl.eclipse.toc" name="Eclipse TOC XSLT import"/>
  <extension-point id="dita.conductor.eclipse.toc.param" name="Eclipse Help TOC XSLT parameter"/>
  <!-- extensions -->
  <feature extension="dita.conductor.transtype.check" value="eclipsehelp"/>
  <require plugin="org.dita.xhtml"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="build_dita2eclipsehelp_template.xml"/>
  <template file="xsl/map2eclipse_template.xsl"/>
  <template file="xsl/map2plugin_template.xsl"/>
</plugin>
