<plugin id="com.moldflow.dita.plus-transtype-eclipsehelp">
  <require plugin="com.moldflow.dita.plus-allhtml-topic2html"/>
  <template file="build_plus-transtype-eclipsehelp_template.xml"/>
  <template file="xsl/dita2html-shell_template.xsl"/>
  <template file="xsl/map2eclipse-shell_template.xsl"/>
  <template file="xsl/map2plugin-shell_template.xsl"/>
  <feature extension="dita.conductor.transtype.check" value="eclipsehelp+" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>
</plugin>
