<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="org.dita.odt">
  <!-- extension points -->
  <extension-point id="dita.xsl.odt" name="ODT XSLT import"/>
  <feature extension="dita.conductor.lib.import" file="lib/odt.jar"/>
  <!-- extensions -->
  <transtype name="odt" desc="Open Document Format">
    <param name="args.odt.img.embed" desc="Determines whether images are embedded as binary objects within the ODT file." type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
  </transtype>
  <feature extension="dita.transtype.print" value="odt"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <feature extension="dita.xsl.strings" file="xsl/xslodt/common/strings.xml"/>
  <template file="xsl/dita2odt_template.xsl"/>
</plugin>
