<!-- 
  This file is part of the DITA Open Toolkit project hosted on
  Sourceforge.net. See the accompanying license.txt file for
  applicable licenses.
  
  (C) Copyright Shawn McKenzie, 2007. All Rights Reserved.
  *-->
<plugin id="net.sourceforge.dita-ot.flagging">
  <feature extension="dita.conductor.target.relative" file="antwrapper.xml"/>
  <feature extension="depend.preprocess.post" value="preprocess_flagging"/>
  <feature extension="dita.xsl.xhtml" file="xsl/htmlflag.xsl"/>
</plugin>
