/*
     This file is part of the DITA Open Toolkit project hosted on 
     Sourceforge.net. See the accompanying license.txt file for 
     applicable licenses.
     (c) Copyright IBM Corp. 2004, 2009 All Rights Reserved.

     This file uses a few simple settings to create a new look and
     feel for the generated XHTML output. Note that most elements
     are still styled based on the toolkit's default CSS file, while
     this CSS file only provides a few overrides to that core style.

     For a sample build that uses this CSS file, see the following Ant
     build file within your toolkit install directory:
     samples/ant_sample/sample_xhtml_plus_css.xml
*/

* {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	top: auto;
}

.topictitle1 { font-size: 2.5em; 
	background: url(img03.jpg) repeat-x left bottom;
}
.topictitle2 { font-size: 2em; }

body {
	margin: 120px 0;
 	background: #FFFFFF url(img01.jpg) repeat-x left top;
	text-align: left;
	font-family: 'Trebuchet MS', "Times New Roman", Times, serif;
	font-size: .9em;
	color: #666666;
	float: left;
	width: 640px;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 30px;
}

h1, h2, h3 {
	padding-bottom: 10px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

p, ul, ol, dl {
	margin-top: 1.5em;
}

ul, ol, dl {
	margin-left: 3em;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #70A300;
}

a:hover {
	border: none;
	color: #70A300;
}

/* Header */

#header {
	width: 960px;
	height: 90px;
	margin: 20;
	float: left;
}

