<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2011 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.javahelp">
  <transtype name="javahelp" extends="base-html" desc="JavaHelp">
    <param name="args.javahelp.map" desc="Specifies the name of the ditamap file for a JavaHelp project." type="file"/>
    <param name="args.javahelp.toc" desc="Specifies the name of the file containing the TOC in your JavaHelp output." type="file"/>
  </transtype>
  <require plugin="org.dita.xhtml"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
</plugin>
