<?xml version="1.0" encoding="utf-8"?>
<plugin id="dummy">
  
  <require plugin="base" importance="required"/>
    
  <meta type="foo" value="bar"/>
           
  <extension-point id="InsertAction"/>
  <extension-point id="ImportXSLAction.plugin"/>
  <extension-point id="ImportAntLibAction"/>
  <extension-point id="InsertDependsAction"/>
  <extension-point id="ImportStringsAction"/>
  <extension-point id="InsertCatalogActionRelative"/>
  <extension-point id="ImportXSLAction"/>
  <extension-point id="InsertAntActionRelative"/>
  <extension-point id="CheckTranstypeAction"/>

  <feature extension="CheckTranstypeAction" value="foo,bar,baz" type="text"/>
  <feature extension="ImportAntLibAction" value="foo.jar,bar.jar,baz.jar" type="file"/>  
  <feature extension="ImportStringsAction" value="foo.xml" type="file"/>
  <feature extension="ImportXSLAction" value="foo.xsl" type="file"/>
  <feature extension="InsertAction" value="params.xml" type="file"/>
  <feature extension="InsertAntActionRelative" value="build.xml" type="file"/>
  <feature extension="InsertCatalogActionRelative" value="catalog.xml" type="file"/>
  <feature extension="InsertDependsAction" value="dummy.init, dummy" type="text"/>
  
  <template file="xsl/shell_template.xsl"/>
  <feature extension="ImportXSLAction.plugin" value="../../xsl/foo.xsl" type="file"/>
  
</plugin>
