name: Release
on:
  push:
    tags:
      - '*'
jobs:
  # Build distribution package and upload the GitHub releases
  dist:
    if: github.repository == 'dita-ot/dita-ot'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build distribution package
        run: |
          ./gradlew --no-daemon
          ./gradlew dist -Pcommit=${GITHUB_SHA} --no-daemon
      - name: Deploy distribution package to releases
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/distributions/*.zip
  # Publish release to Maven
  maven:
    if: github.repository == 'dita-ot/dita-ot'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Deploy Maven release
        run: |
          echo "$GPG_ASC" > 24AC15F2.asc
          gpg --dearmor 24AC15F2.asc
          ./gradlew --no-daemon
          ./gradlew --no-daemon publish \
            -PossrhUsername=$OSSRH_USERNAME \
            -PossrhPassword=$OSSRH_PASSWORD \
            -Psigning.password=$SIGNING_PASSWORD \
            -Psigning.keyId=24AC15F2 \
            -Psigning.secretKeyRingFile=24AC15F2.asc.gpg
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}
          GPG_ASC: ${{ secrets.GPG_ASC }}
