name: Test
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Check formatting
        run: ./gradlew spotlessCheck --info --stacktrace --no-daemon
      - name: Build with Gradle
        run: ./gradlew --info --stacktrace --no-daemon
      - name: Run unit tests
        run: ./gradlew test --info --stacktrace --no-daemon
      - name: Run end to end tests
        run: ./gradlew e2eTest --info --stacktrace --no-daemon
      - name: Run integration tests
        run: ./gradlew integrationTest --info --stacktrace --no-daemon
