<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
  Sourceforge.net. See the accompanying license.txt file for 
  applicable licenses.-->
<!--
  | (C) Copyright IBM Corporation 2006. All Rights Reserved.
  *-->
  <plugin id="org.dita.specialization.h2d">
    <feature extension="dita.specialization.catalog.relative"
      file="catalog.xml"/> 
  </plugin>
